body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

header {
    background-color: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.login-title,
.page-title {
    text-align: center;
    margin-bottom: 20px;
}
.login-form,
.contact-form {
    max-width: 300px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error-message {
    color: red;
    text-align: center;
}
